In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
name=[]
year=[]
time=[]
genre=[]
rating=[]
metascore=[]
director=[]
votes=[]
money=[]

In [3]:
pages=np.arange(1,1001,50)

In [4]:
for pin in pages:
    #pin=("https://www.imdb.com/search/title/?groups=top_1000&start="+str(pin)+"&ref_=adv_prv")
    pin=requests.get("https://www.imdb.com/search/title/?groups=top_1000&start="+str(pin)+"&ref_=adv_prv")
    soup=BeautifulSoup(pin.text,"html.parser")
    soup.prettify()
    result=soup.find_all('div',attrs={"class":"lister-item-content"})
    #take break buddy
    sleep(randint(3,10))

In [5]:
for i,q in enumerate(result):
    #print()
    t=q.h3.a.text#title
    name.append(t)
    a=q.h3.find('span',attrs={"class":"lister-item-year text-muted unbold"}).text#year
    year.append(a)
    v=q.find('span',attrs={"class":"runtime"}).text#time
    time.append(v)
    e=q.find('span',attrs={"class":"genre"}).text[1:].strip()#genre
    genre.append(e)
    r=q.strong.text#rating
    rating.append(r)
    try:
        u=q.find('span',attrs={'class':"metascore favorable"}).text[0:2]#metascore
        metascore.append(u)
    except:
        metascore.append("-")
    s=q.find('p',attrs={"class":""}).a.text#director
    director.append(s)
#result[0].find(['a','p'],attrs={'class':''})#work on starcast
    d=q.find('span',attrs={"name":"nv"}).text#votes
    votes.append(d)
    try:
        #g=q.find('p',attrs={"class":"sort-num_votes-visible"}).text[25:-1]#paisay
        g=q.find('p',attrs={'class':"sort-num_votes-visible"}).find_all('span',attrs={'name':'nv'})[1].text[1:]

        money.append(g)
    except:
        
        money.append("-")

In [7]:
len(money)

50

In [9]:
df=pd.DataFrame({
    "NAME":name,
    "YEAR":year,
    "STARS":rating,
    "VOTES":votes,
    "MSCORE":metascore,
    "DIRECTOR":director,
    "GROSS($)":money,
    "DURATION(min)":time,
    "GENRE":genre
})

In [12]:
df.head(10)

,NAME,YEAR,STARS,VOTES,MSCORE,DIRECTOR,GROSS($),DURATION(min),GENRE
0,Sholay,(1975),8.2,"48,682",-,Ramesh Sippy,-,204 min,"Action, Adventure, Comedy"
1,Hana-bi,(1997),7.8,"25,956",-,Takeshi Kitano,0.23M,103 min,"Crime, Drama, Romance"
2,Sanjuro,(1962),8.1,"29,712",-,Akira Kurosawa,-,96 min,"Action, Comedy, Crime"
3,Hiroshima mon amour,(1959),7.9,"26,173",-,Alain Resnais,0.09M,90 min,"Drama, Romance"
4,Taegukgi hwinalrimyeo,(2004),8.1,"36,564",64,Je-kyu Kang,1.11M,140 min,"Action, Drama, War"
5,Adams æbler,(2005),7.8,"43,357",-,Anders Thomas Jensen,0.00M,94 min,"Comedy, Crime, Drama"
6,Dip huet seung hung,(1989),7.8,"44,182",82,John Woo,-,111 min,"Action, Crime, Drama"
7,Nueve reinas,(2000),7.9,"47,398",80,Fabián Bielinsky,1.22M,114 min,"Crime, Drama, Thriller"
8,Sherlock Jr.,(1924),8.2,"36,648",-,Buster Keaton,0.98M,45 min,"Action, Comedy, Romance"
9,Kind Hearts and Coronets,(1949),8.0,"33,021",-,Robert Hamer,-,106 min,"Comedy, Crime"

In [14]:
df["YEAR"]=df["YEAR"].str.extract('(\d+)').astype(int)

In [16]:
df.head()
df["DURATION(min)"]=df["DURATION(min)"].str.extract('(\d+)').astype('int')

In [17]:
df.head()

,NAME,YEAR,STARS,VOTES,MSCORE,DIRECTOR,GROSS($),DURATION(min),GENRE
0,Sholay,1975,8.2,"48,682",-,Ramesh Sippy,-,204,"Action, Adventure, Comedy"
1,Hana-bi,1997,7.8,"25,956",-,Takeshi Kitano,0.23M,103,"Crime, Drama, Romance"
2,Sanjuro,1962,8.1,"29,712",-,Akira Kurosawa,-,96,"Action, Comedy, Crime"
3,Hiroshima mon amour,1959,7.9,"26,173",-,Alain Resnais,0.09M,90,"Drama, Romance"
4,Taegukgi hwinalrimyeo,2004,8.1,"36,564",64,Je-kyu Kang,1.11M,140,"Action, Drama, War"